@-moz-document url-prefix() {
html{
    scrollbar-width: none;
}
}
body {
    margin: 0;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow-y: scroll;
}
body::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
/* 
#paragraphs {
    position: fixed;
    padding-top: 3%;
    padding-left: 6%;
    width: 88%;
    height: 94%;
} */

.paragraph {
    background-color: grey;
    height: 36%;
    width: 39%;
    opacity: 0.25;
}

.paragraphs {
    background-color: red;
    height: 77%;
    width: 39%;
    opacity: 0.25;
}

.paragraphText {
    opacity: 1;
}

#p1 {
    position: fixed;
    margin-top: 3%;
    margin-left: 9%;
}

#p2 {
    position: fixed;
    margin-top: 3%;
    margin-left: 51%;
}

#p3 {
    position: fixed;
    margin-top: 24%;
    margin-left: 51%;
}

#p4 {
    position: fixed;
    margin-top: 24%;
    margin-left: 9%;
}

#p14 {
    position: fixed;
    margin-top: 3%;
    margin-left: 9%;
}

#p23 {
    position: fixed;
    margin-top: 3%;
    margin-left: 51%;
}

#testControl {
    position: absolute;
    /* padding-top: 2.5%; */
    /* right: 3%; */
}

#sections {
    position: absolute;
    display: inline-block;
    width: 250px;
    top: 30%;
    left: 3%;
    opacity: 0;
    z-index: 90;
}

.step {
    margin-bottom: 1000px;
}

#chartArea {
    /* display: inline; */
    position: fixed;
    /* margin-top: 0; */
    z-index: 1;
    margin-left: 0;
    
    height: 100%;
    width: 100%;
    /* transform: translate(-50%, 0%); */
}

.textSmall {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight:400;
    color: black;
}

.textSmaller {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight:400;
}

#headers {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    color: black;
    padding-top: 2.5%;
    width: 97%;
    left: 6%;
    margin: 0;
}

.header1 {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Roboto', sans-serif;
    font-weight:700;
    margin: 0;
    font-size: 10px;
    color: black;
}

.axis {
    /* stroke-width: 0.5px; */
    /* stroke: #888; */
    font: 10px;
    color: black;
  }

@media (min-width: 300px) {
    .header1 {
        font-size: 20px
    }

@media (min-width: 700px) {
    .header1 {
        font-size: 36px
    }