#container {
    width: 100vw;
    height: 50vh;
    /* background-color: crimson; */
}

#headers {
    /* -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; */
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    margin: 0px;
    border: 0px;
    padding: 0px;
    /* background-color: darkorange;
    opacity: 0.5; */
}

#info {
    position: relative;
}

#chart {
    width: 100%;
    height: 100%;
}

.theSmallest {
    /* -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; */
    font-family: 'Roboto', sans-serif;
    position: absolute;
    font-weight:400;
    font-size: 15px;
    color: #a6a6a6;
    bottom: 0px;
    left: 0px;
    /* width: 100vw; */
    line-height: 17px;
    margin: 0px;
    border: 0px;
    padding: 0px;
}

.header1 {
    font-family: 'Roboto', sans-serif;
    font-weight:700;
    font-size: 21px;
    color: #494a4d;
    line-height: 30px;
}

@media (min-width: 700px) {
    #container {
        width: 700px;
        height: 435px;
        /* background-color: burlywood; */
    }
}